* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
body::before {
  content: "";
  background-color: #DEDAD5;
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  z-index: -1;
}

header {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.head {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.head_menu {
  display: flex;
  gap: 50px;
  list-style: none;
}
.head_menu a {
  text-decoration: none;
  color: #9E9D9B;
}

.negro {
  color: #424241 !important;
}

.hero {
  max-width: 50%;
  padding-top: 30px;
}
.hero_title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 59px;
  line-height: 75px;
  color: #424241;
  padding-top: 65px;
  position: relative;
}
.hero_title::before {
  content: "";
  background-color: #DEDAD5;
  opacity: 25%;
  position: absolute;
  top: 50px;
  left: -20px;
  width: 260px;
  height: 70px;
  z-index: -1;
}
.hero_subtitle {
  font-size: 22px;
  font-weight: 400;
  color: #9E9D9B;
  line-height: 30px;
  padding-top: 20px;
}
.hero_botones {
  align-items: center;
  padding-top: 40px;
  display: flex;
  gap: 40px;
  list-style: none;
}
.hero_botones_1 {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #424241;
  color: #FAF8F5;
  gap: 5px;
}
.hero_botones_2 {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #424241;
}
.hero_info {
  padding-top: 180px;
  display: flex;
  gap: 60px;
}
.hero_info::before {
  content: "";
  background-color: #DEDAD5;
  opacity: 25%;
  position: absolute;
  bottom: -70px;
  left: 550px;
  width: 700px;
  height: 80px;
  z-index: -1;
}
.hero_article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  max-width: 100px;
  position: relative;
}
.hero_article h2 {
  color: #424241;
  font-weight: 500;
  font-size: 50px;
}
.hero_article p {
  font-weight: 400;
  color: #9E9D9B;
  font-size: 16px;
  line-height: 30px;
}

.details {
  position: absolute;
  bottom: -80px;
  right: 120px;
  color: #424241;
  font-weight: 400;
  background-color: #FAF8F5;
  padding: 10px 20px 5px 20px;
}
.details_title {
  font-size: 16px;
  align-items: start;
  margin-bottom: 10px;
  padding-top: 15px;
}
.details article {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #DEDAD5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.details article:last-child {
  border-bottom: none;
}
.details_number {
  color: #9E9D9B !important;
  font-size: 18px;
}
.details_flecha {
  margin-left: auto;
}
.details_word {
  padding-right: 30px;
}

.foto1 {
  width: 400px;
  height: 500px;
  position: absolute;
  top: 120px;
  left: 610px;
  z-index: -1;
}

.foto2 {
  width: 400px;
  height: 500px;
  position: absolute;
  top: 120px;
  right: 80px;
  max-width: none;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */